# Python bytecode
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/
env/

# Packaging
*.egg-info/

# Local data exports
data/* Stock Price History.csv
data/Weekly_*.xlsx
data/_ignore/
